<section class="main-header">
  <%= image_tag 'TOP_BLOGS.jpg' %>
</section>
<section class="TOP">
  <h1>トップ画面</h1>
  <P>このアプリはブログアプリです。</P>
</section>
<section class="recentry">
  <% i = 0 %>
  <% 3.times do %>
  <table>
    <tr>
      <td><%= @blogs[i].title %></td>
      <td><%= @blogs[i].content %></td>
    </tr>
    <% i += 1 %>
  <% end %>
</table>
</section>
<section class="function">
  <%= link_to image_tag('new_blog.jpg',{:alt => 'ブログ新規作成画面はこちら'}), new_blog_path %>
  <%= link_to image_tag('blogs.jpg',{:alt => 'ブログ一覧画面はこちら'}), blogs_path %>
</section>
