<section class="main-header">
  <%= image_tag 'title_test.png' %>
</section>
<div class="container">
  <section class="TOP">
    <h1>トップ画面</h1>
    <P>このアプリはブログアプリです。</P>
    <p>ブログの新規作成とブログの一覧画面から編集削除などができます</p>
  </section>

  <div class="row">
    <div class="col-md-4 col-sm-12">
      <section class="recentry">
        <div>
          最近の更新状況
          <table>
            <tr class="blog_list">
              <td>タイトル</td>
              <td>内容</td>
            </tr>

            <% i = 0 %>
            <% 3.times do %>
              <tr class=blog_list>
                <td><%= @blogs[i].title %></td>
                <td><%= @blogs[i].content %></td>
              </tr>
                <% i += 1 %>
            <% end %>
          </table>
        </div>
      </section>
    </div>

    <div class="col-md-4 col-sm-6">
      <section class="new_blog_img">
        <p>ブログ新規作成画面はこちら</p>
        <%= link_to image_tag('new_blog.jpg'), new_blog_path %>
      </section>
  </div>
    <div class="col-md-4 col-sm-6">
      <section class="blogs_img">
        <p>ブログの一覧はこちら</p>
        <%= link_to image_tag('blogs.jpg'), blogs_path %>
      </section>
    </div>

  </div>
</div>
