<p id="notice"><%= notice %></p>
<h1><%= @user.name %>のページ</h1>

<p>メールアドレス: <%= @user.email %></p>
<p> プロフィール画像： <%= image_tag(@user.image) %></p>

<h2><%= "#{current_user.name}さんのお気に入り一覧" %></h2>
<% @favorites_blogs.each do |blog| %>
  <table>
    <tr>
      <td><%= blog.title %></td>
      <td><%= blog.content %></td>
    </tr>
  </table>
<% end %>


<p><%= link_to "ブログの新規作成画面",new_blog_path %></p>
<p><%= link_to "ブログの一覧を見る", blogs_path %></p>
<p><%= link_to "ユーザー情報を変更する", edit_user_path(@user) %></p>
