<!DOCTYPE html>
<html>
  <head>
    <title>Task2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul>
      <%= link_to 'トップ画面', root_path %>
      <%= link_to '新規作成', new_blog_path %>
      <%= link_to 'ブログ一覧', blogs_path %>
                </header>
    <%= yield %>
    <footer>
      <p>運営会社DIVE INTO CODE株式会社</p>
      <p>© 2015-2016 Copyright DIVE INTO CODE Corp.</p>
    </footer>
  </body>
</html>
